<?xml version="1.0"?>
<!--
/**
 * @author      Litslink
 * @category    Litslink
 * @package     Litslink_Liqpay
 * @copyright   Copyright (c) 2016
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <liqpay>
                <active>1</active>
                <model>Litslink\Liqpay\Model\Liqpay</model>
                <order_status>pending</order_status>
                <title>Liqpay order</title>
                <allowspecific>0</allowspecific>
                <group>liqpay</group>
            </liqpay>
        </payment>
    </default>
</config>
