<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author      Litslink
 * @category    Litslink
 * @package     Litslink_CustomerMod
 * @copyright   Copyright (c) 2016
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
   <module name="Litslink_CatalogMod" setup_version="1.0.3">
        <sequence>           
            <module name="Magento_Catalog"/>  
        </sequence>   
   </module>
</config>
